<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>SAIS SITE REV</title>

    <!-- BOOTSTRAP STYLES-->
    <link href="assets/css/bootstrap.css" rel="stylesheet" />
    <!-- FONTAWESOME STYLES-->
    <link href="assets/css/font-awesome.css" rel="stylesheet" />
       <!--CUSTOM BASIC STYLES-->
    <link href="assets/css/basic.css" rel="stylesheet" />
    <!--CUSTOM MAIN STYLES-->
    <link href="assets/css/custom.css" rel="stylesheet" />
    <!-- GOOGLE FONTS-->
    <link href='http://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css' />
</head>
<body>
    <div id="wrapper">
        <nav class="navbar navbar-default navbar-cls-top " role="navigation" style="margin-bottom: 0">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".sidebar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="index.html">
                  <img src="assets/img/uplogo.png" class="logo-img-div"/>
                </a>
                <!--<a class="navbar-brand" href="index.html">UP SAIS</a>-->
            </div>

            <div class="header-right">
              <div>
                <a href="login.html" class="btn btn-danger" title="Logout">Logout</a>
                <a href="login.html" class="btn btn-danger" title="Help"><i class="fa fa-question-circle"></i></a>
              </div>
            </div>
            <div class="site-name" style="font-size: 55px;">UP SAIS</div>
            <div class="header-search">
                <div>
                  <input type="text" name="lastname" value="" placeholder="  Search here" size="50px">
                  <button type="submit" class="btn btn-danger" title="Search"><i class="fa fa-search"></i></button>
                </div>
                <!--<button type="submit" class="btn btn-danger" title="Search"><i class="fa fa-search"></i></button>
                <!--<input type="submit" value="Submit">
                <a href="login.html" class="btn btn-danger" title="Search"><i class="fa fa-search"></i></a>-->
            </div>
        </nav>
        <!-- /. NAV TOP  -->
        <nav class="navbar-default navbar-side" role="navigation">
            <div class="sidebar-collapse">
                <ul class="nav" id="main-menu">
                    <li>
                        <div class="user-info-div">
                            Juan Dela Cruz
                            <div class="inner-text">
                                <small>Student No.: 20XX-XXXXX</small>
                            <br />
                                <small>Course: BSCS</small>
                            </div>
                        </div>

                    </li>


                    <li>
                        <a class="active-menu"><i class="fa fa-desktop "></i>Menu</a>
                    </li>
                    <li>
                        <a href="#"><i class="fa fa-star "></i>My Favorites <span class="fa arrow"></span></a>
                         <ul class="nav nav-second-level">
                            <li>
                                <a href="add_faves.html"><i class="fa fa-plus"></i>Add to Favorites</a>
                            </li>
                            <li>
                                <a href="edit_faves.html"><i class="fa fa-pencil "></i>Edit Favorites</a>
                            </li>
                        </ul>
                    </li>
                     <li>
                        <a href="#"><i class="fa fa-user"></i>Self Service <span class="fa arrow"></span></a>
                         <ul class="nav nav-second-level">
                            <li>
                                <a href="#"><i class="fa fa-search"></i>Class Search / Browse Catalog<span class="fa arrow"></span></a>
                                <ul class="nav nav-third-level">
                                    <li>
                                        <a href="class_search.html"><i class="fa fa-search "></i>Class Search</a>
                                    </li>
                                    <li>
                                        <a href="class_search.html"><i class="fa fa-bookmark-o "></i>Browse Course Catalog</a>
                                    </li>

                                </ul>
                            </li>
                            <li>
                                <a href="#"><i class="fa fa-check "></i>Enrollment<span class="fa arrow"></span></a>
                                <ul class="nav nav-third-level">
                                    <li>
                                        <a href="view_assign.html"><i class="fa fa-plus "></i>View My Assignments</a>
                                    </li>
                                    <li>
                                        <a href="enroll_dates.html"><i class="fa fa-calendar "></i>Enrollment Dates</a>
                                    </li>
                                    <li>
                                        <a href="my_class_sched.html"><i class="fa fa-calendar-o "></i>My Class Schedule</a>
                                    </li>
                                    <li>
                                        <a href="my_weekly_sched.html"><i class="fa fa-calendar-o "></i>My Weekly Schedule</a>
                                    </li>
                                    <li>
                                        <a href="enroll_add_class.html"><i class="fa fa-plus-square "></i>Enrollment: Add Classes</a>
                                    </li>
                                    <li>
                                        <a href="enroll_del_class.html"><i class="fa fa-minus-square "></i>Enrollment: Drop Classes</a>
                                    </li>
                                    <li>
                                        <a href="my_exam_sched.html"><i class="fa fa-book "></i>View My Exam Schedules</a>
                                    </li>
                                    <li>
                                        <a href="my_grades.html"><i class="fa fa-list-alt "></i>View My Grades</a>
                                    </li>
                                    <li>
                                        <a href="milestones.html"><i class="fa fa-star-o "></i>View My Milestones</a>
                                    </li>

                                </ul>
                            </li>
                             <li>
                                <a href="#"><i class="fa fa-dollar"></i>Campus Finances<span class="fa arrow"></span></a>
                                <ul class="nav nav-third-level">
                                    <li>
                                        <a href="acct_inq.html"><i class="fa fa-question-circle "></i>Account Inquiry</a>
                                    </li>
                                    <li>
                                        <a href="financial_aid.html"><i class="fa fa-dollar "></i>View Financial Aid</a>
                                    </li>
                                    <li>
                                        <a href="enroll_pay_plan.html"><i class="fa fa-check-square "></i>Enroll in Payment Plan</a>
                                    </li>

                                </ul>
                            </li>
                             <li>
                                <a href="#"><i class="fa fa-users "></i>Campus Personal Information<span class="fa arrow"></span></a>
                                <ul class="nav nav-third-level">
                                    <li>
                                        <a href="personal_data_summ.html"><i class="fa fa-user "></i>Personal Data Summary</a>
                                    </li>
                                    <li>
                                        <a href="addresses.html"><i class="fa fa-search "></i>Addresses</a>
                                    </li>
                                    <li>
                                        <a href="names.html"><i class="fa fa-search "></i>Names</a>
                                    </li>

                                </ul>
                            </li>
                             <li>
                                <a href="#"><i class="fa fa-file "></i>Academic Records<span class="fa arrow"></span></a>
                                <ul class="nav nav-third-level">
                                    <li>
                                        <a href="view_unoff_transcript"><i class="fa fa-file-o "></i>View Unofficial Transcript</a>
                                    </li>
                                    <li>
                                        <a href="my_course_hist.html"><i class="fa fa-history "></i>My Course History</a>
                                    </li>

                                </ul>
                            </li>
                            <li>
                               <a href="#"><i class="fa fa-graduation-cap "></i>Degree Progress / Graduation<span class="fa arrow"></span></a>
                               <ul class="nav nav-third-level">
                                   <li>
                                       <a href="acad_req.html"><i class="fa fa-check-square "></i>My Academic Requirements</a>
                                   </li>
                                   <li>
                                       <a href="deg_prog_rep.html"><i class="fa fa-list-alt "></i>View Degree Progress Report</a>
                                   </li>

                               </ul>
                           </li>
                           <li>
                              <a href="workflow.html"><i class="fa fa-check-circle "></i>Approval Workflow</a>
                          </li>
                          <li>
                             <a href="student_center.html"><i class="fa fa-user-md "></i>Student Center</a>
                         </li>

                        </ul>
                    </li>
                     <li>
                        <a href="#"><i class="fa fa-bookmark "></i>Worklist  <span class="fa arrow"></span></a>
                         <ul class="nav nav-second-level">

                             <li>
                                <a href="worklist.html"><i class="fa fa-bookmark "></i>Worklist </a>
                            </li>
                             <li>
                                <a href="wl_details.html"><i class="fa fa-th-list "></i>Worklist Details</a>
                            </li>

                        </ul>
                    </li>
                    <li>
                        <a href="user_def.html"><i class="fa fa-cog "></i>User Defaults</a>
                    </li>
                    <li>
                        <a href="change_pass.html"><i class="fa fa-pencil-square "></i>Change My Password</a>
                    </li>
                </ul>
            </div>
        </nav>
        <!-- /. NAV SIDE  -->
        <div id="page-wrapper">
            <div id="page-inner">
                <div class="row">
                    <div class="col-md-12">
                        <h1 class="page-head-line">Course Catalog</h1>
                    </div>
                </div>
            </div>
            <!-- /. PAGE INNER  -->
        </div>
        <!-- /. PAGE WRAPPER  -->
    </div>
    <!-- /. WRAPPER  -->

    <div id="footer-sec">
        <div style="margin-left: 40%">&copy; CMSC 126 2016 | Design By : JBDino</div>
    </div>
    <!-- /. FOOTER  -->
    <!-- SCRIPTS -AT THE BOTOM TO REDUCE THE LOAD TIME-->
    <!-- JQUERY SCRIPTS -->
    <script src="assets/js/jquery-1.10.2.js"></script>
    <!-- BOOTSTRAP SCRIPTS -->
    <script src="assets/js/bootstrap.js"></script>
    <!-- METISMENU SCRIPTS -->
    <script src="assets/js/jquery.metisMenu.js"></script>
       <!-- CUSTOM SCRIPTS -->
    <script src="assets/js/custom.js"></script>



</body>
</html>
